Requirement:
       Truncate title, 1st paragraph or another string with "..."
       if over character limit (width must be flexible)


Think:
---------------------
Inputs?
    - String
    - Character limit

Tests:
---------------------

    - Char limit reached -> truncate with ...
    - Char limit not reached -> no change

More tests:

    - Invalid String (null)     TODO: blank "  " or empty "" strings
    - Invalid limit (0 or less)

More complex tests (combinatorics):

    What if?
        - input < ellipsis
        - input == ellipsis